html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  background-color: #024731 !important; /* Custom background color */
  color: white; /* Text color */
  padding: 0.5rem 1rem; /* Ensures a visually balanced navbar */
}

.custom-navbar .nav-link {
  color: white !important; /* Ensures nav links are white */
}

.full-page-image {
	width: 100vw;
	height: 73.5vh; /* Adjust the height to your preference */
	background-image: url('/homepage1.jpg'); /* Use your image here */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white; /* Text color */
  }
  
  .about-us-container {
	background-color: #f8f9fa; /* Light gray background */
	padding: 3rem 0;
  }
  
  .about-us-container h1 {
	font-size: 3rem;
	margin-bottom: 1.5rem;
  }
  
  .about-us-container .card {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .about-us-container .card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .about-us-page {
	width: 100%;
	min-height: 73.5vh; /* Ensure it covers the full viewport */
	background-image: url('/aboutus.webp'); /* Path to your background image */
	background-size: cover; /* Scale the image to cover the entire container */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent tiling */
	position: relative; /* Allow layering of content over the image */
  }
  
  .about-us-page::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8); /* White overlay with opacity */
	z-index: 1; /* Ensure it sits above the background but below the content */
  }
  
  .about-us-content {
	position: relative; /* Place content above the background */
	z-index: 2; /* Ensure content is above the overlay */
	padding: 2rem; /* Add some spacing */
	color: #333; /* Dark text for readability */
  }

  /* MatchOrFind Component Styles */
.match-or-find-container {
	height: 100vh;
}

.match-or-find-heading {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
  }

  .match-or-find-button {
	display: block;
	padding: 20px 40px;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #024731;
	color: #fff;
  	border-radius: 10px;
  	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  	transition: transform 0.2s, box-shadow 0.2s;
}

.match-or-find-button:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
	background-color: #024731;
  }
  
  