html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  background-color: #024731 !important; /* Custom background color */
  color: white; /* Text color */
  padding: 0.5rem 1rem; /* Ensures a visually balanced navbar */
}

.custom-navbar .nav-link {
  color: white !important; /* Ensures nav links are white */
}

.full-page-image {
	width: 100vw;
	height: 73.5vh; /* Adjust the height to your preference */
	background-image: url('/homepage1.jpg'); /* Use your image here */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white; /* Text color */
  }
  